{% extends 'siteinterfaceBundle:entites:entiteList.html.twig' %}

{% block buttons %}
{{ parent() }}
<a href="{{ path('siteadmin_fileformat_resetall', {erase: true}) }}" type="button" class="btn btn-xs btn-danger pull-right need-confirmation" data-title="{{ 'fileFormat.reset'|trans|capitalize }}" data-message="{{ 'fileFormat.reset_question'|trans|capitalize }}"><i class="fa fa-refresh icon-wait-on-click"></i> {{ 'fileFormat.reset'|trans|capitalize }}</a>
{% endblock buttons %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th style="width:1%;" class="text-center">{{ 'table.col.id'|trans|capitalize }}</th>
							{% if entites.0.nom is defined %}
							<th>{{ 'table.col.nom'|trans|capitalize }}</th>
							{% endif %}
							<th>{{ 'actions.name'|trans|capitalize }}</th>
							<td>{{ 'fileFormat.name'|trans|capitalize }}</td>
							<td style="width:1%;" class="text-center">{{ 'table.col.icone'|trans|capitalize }}</td>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(entite.enabled or DEVMODE) %}
						<tr{% if not entite.enabled %} class="danger"{% endif %}>
							<td class="text-center">
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom|default('#' ~ entite.id)})|capitalize }}"><strong>{{ entite.id }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom|default('#' ~ entite.id)})|capitalize }}"><strong>{{ entite.id }}</strong></a>
								{% endif %}
							</td>
							{% if entite.nom is defined %}
							<td>
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom})|capitalize }}"><strong>{{ entite.nom }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom})|capitalize }}"><strong>{{ entite.nom }}</strong></a>
								{% endif %}
								{% if entite.statut is defined %}
								{% if entite.statut.id > 1 %}<br><small><i>({{ entite.statut.nom }})</i></small>{% endif %}
								{% endif %}
							</td>
							{% endif %}
							<td>
								{% if DEVMODE %}
								<div class="btn-group">
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" type="button" class="btn btn-danger btn-xs" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom|default('#' ~ entite.id)})|capitalize }}"><i class="fa fa-eye icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-danger btn-xs" title="{{ 'actions.modifier'|trans|capitalize }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-danger btn-xs need-confirmation" title="{{ 'actions.supprimer'|trans|capitalize }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom})|capitalize }}"><i class="fa fa-times icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker {{ entite_name }} {{ entite.nom|default('#' ~ entite.id) }}"><i class="fa fa-check icon-wait-on-click"></i></a>
									{% if(entite.statut.nom|default('Actif') != 'Actif') %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'active'}) }}" type="button" class="btn btn-danger btn-xs need-confirmation" title="{{ 'actions.activer'|trans|capitalize }}"><i class="fa fa-star icon-wait-on-click"></i></a>
									{% endif %}
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" type="button" class="btn btn-danger btn-xs" title="{{ (entite_name ~ '.moredetails')|trans({'%name%': entite.nom|default('#' ~ entite.id)})|capitalize }}"><i class="fa fa-eye icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-danger btn-xs" title="{{ 'actions.modifier'|trans|capitalize }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-danger btn-xs need-confirmation" title="{{ 'actions.supprimer'|trans|capitalize }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom})|capitalize }}"><i class="fa fa-times icon-wait-on-click"></i></a>
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker {{ entite_name }} {{ entite.nom|default('#' ~ entite.id) }}"><i class="fa fa-check icon-wait-on-click"></i></a>
									{% if(entite.statut.nom|default('Actif') != 'Actif') %}
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'active'}) }}" type="button" class="btn btn-danger btn-xs" title="{{ 'actions.activer'|trans|capitalize }}"><i class="fa fa-star icon-wait-on-click"></i></a>
									{% endif %}
									{% endif %}
								</div>
								{% else %}
								<em><i>{{ 'actions.forbidden'|trans|capitalize }}</i></em>
								{% endif %}
							</td>
							<td>{{ entite.contentType }}</td>
							<td class="text-center"><i class="fa {{ entite.icon|default('fa-question') }} fa-2x"></i></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ (entite_name ~ '.not_found')|trans|capitalize }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}