{% extends 'sitesiteBundle::base_pages.html.twig' %}

{% block content %}
<!-- ABOUT -->
<section id="scrollmore">
	<div class="container">
		<div class="row">
			<div class="col-md-{{ pageweb.image is not null ? '8' : '12' }}">
				<div class="section-heading">
					<h2 class="heading-border heading-thin">{{ pageweb.titreh1|raw }}</h2>
				</div>
				{{ pageweb.code|raw }}
			</div>
			{% if pageweb.image is not null %}
			<div class="col-md-4">
				<div class="section-heading">
					<h2 class="heading-border heading-thin heading-invisible">.</h2>
				</div>
				<img src="{{ pageweb.image.img }}" class="img-responsive" alt="visuel">
				{# <img src="{{ imageB64sized(pageweb.image.id) }}" class="img-responsive" alt="visuel"> #}
			</div>
			{% endif %}
		</div>
	</div>
</section>
<!-- END ABOUT -->
{# {{ include('sitesiteBundle:blocks:carousel_owl.html.twig') }} #}
{{ include('sitesiteBundle:blocks:carousel_portfolio_simple.html.twig') }}

{% endblock content %}

