{% extends 'sitesiteBundle:bases:base_simple.html.twig' %}

{% block sections %}

        <!-- Intro Section -->
        <section class="inner-intro inner-intro-xsmall bg-img8 light-color overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">{{ pageweb.titreh1|raw }}</h2>
                </div>
            </div>
        </section>
        <div class="pb-30 clearfix"></div>
        <!-- End Intro Section -->

        <!-- Contact Section -->
        <section class="pb-sm-30">
            <div class="container">
                {% if pageweb.code|trim|length > 0 %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">{{ pageweb.code|raw }}</div>
                </div>
                <div class="spacer-30"></div>
                {% endif %}
                <div class="row">
                    <div class="col-md-5 contact">
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h6>Atelier imago guitare</h6>
                            <p>
                                20 allée des vignes
                                <br>
                                01340 Jayat
                                <br>
                                <small>(village situé 22km au nord de Bourg en Bresse et 30km à l'est de Macon dans l'Ain)</small>
                            </p>
                            <a href="mailto:contact@imagoguitare.com"><i class="fa fa-envelope-o left"></i>contact@imagoguitare.com</a>
                            <br>
                            <a><i class="fa fa-phone left"></i>06 35 26 24 98</a>
                        </div>
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                            <h6>Horaires</h6>
                            <p>
                                <span>Du lundi au vendredi</span>
                                <br>
                                <span>14h / 19h</span>
                                <br>
                                <span>Le samedi sur RDV</span>
                            </p>
                        </div>
                        <div class="contact-box-left mb-45">

                            <h6>Réseaux sociaux</h6>
                            <ul class="list-none social">
                                <!-- <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                                <!-- <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li> -->
                                <li><a href="https://www.facebook.com/rikett.rico" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://vimeo.com/" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                                <!-- <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        {% if message_success is defined %}
                        <div class="alert alert-info" role="alert">
                            {{ message_success|trans }}
                        </div>
                        {% endif %}
                        {% if message_error is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ message_error|trans }}
                        </div>
                        {% endif %}
                        {{ form_start(message_form) }}
                        {{ form_errors(message_form) }}
                        {% for item in ['nom', 'email', 'objet', 'message'] %}
                        <div class="form-field-wrapper">
                            {{ form_widget(message_form[item]) }}
                            {{ form_errors(message_form[item]) }}
                        </div>
                        {% endfor %}
                        {{ form_rest(message_form) }}
                        {{ form_end(message_form) }}
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->

        <!-- Map Section -->
        <section class="map map-border map-radius-4">
            <div id="map" data-coord="46.370149:5.117850999999973:15" data-title="Imago Guitare"></div>
        </section>
        <!-- Map Section -->

        <br>
        <br>

{% endblock sections %}