        <!-- FOOTER -->
        <footer class="footer pt-80">
            <div class="container">
                <!--Footer Info -->
                <div class="row footer-info mb-60">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                        <a class="footer-logo" href="home.html">
                            <img src="{{ asset('bundles/sitesite/img/logo-black.png') }}" /></a>
                        <!-- Social -->
                        <br>
                        <br>
                        <ul class="social">
                            <!-- <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li> -->
                            <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                            <!-- <li><a target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a></li> -->
                        </ul>
                        <!-- End Social -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">  <!-- mb-xs-0 -->
                        {{ render(controller('sitesiteBundle:Default:topmenu', {levels: 1, icons: false})) }}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                        <h6>Adresse</h6>
                        <p>
                            20 allée des vignes
                            <br>
                            01340 Jayat
                            <br>
                            <small>(village situé 22km au nord de Bourg en Bresse et 30km à l'est de Macon dans l'Ain)</small>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <ul class="link-small">
                            <li><a href="mailto:contact@imagoguitare.com"><i class="fa fa-envelope-o left"></i>contact@imagoguitare.com</a></li>
                            <li><a><i class="fa fa-phone left"></i>06 35 26 24 98</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="">
                        &copy; {{ annee() }} <a><b>IMAGO GUITARE</b></a>. {{ 'footer.rights'|trans|capitalize }}.
                        <br />
                        {{ 'footer.realisation'|trans({'%name%': "Aequation-Webdesign"})|capitalize }}
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->