{% if is_granted(menu.roles.view|default(null)) or (menu.roles.view|default(null) == null) %}
<ul>
	{% for item in menu.menu if (is_granted(item.role|default(null)) or item.role|default(null) == null) %}
	{% set icon = '' %}
	{% if item.icon is defined %}{% set icon = '<i class="fa ' ~ item.icon ~ '"></i>' %}{% endif %}
	{% set path = '#' %}
	{% if item.path.route|default('#') != '#' %}
		{% set path = path(item.path.route, item.path.params|default([])) %}
	{% endif %}
	{% set name = '' %}
	{% if item.name|default('') != '' %}{% set name = ' ' ~ item.name|trans({}, item.trans_domain|default(null))|capitalize %}{% endif %}
	<li><a href="{{ path|raw }}"{% if item.title|default(null) != null %} title="{{ item.title|trans({}, item.trans_domain|default(null))|capitalize }}"{% endif %}>{{ icon|raw }}{{ name }}</a></li>
	{% endfor %}
</ul>
{% endif %}

{#

<ul>
    {% for name,menuroute in menu %}
    <li><a href="{{ path(menuroute.name, menuroute.params|default([])) }}">{{ name|trans|capitalize }}</a></li>
    {% endfor %}
</ul>

#}