{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8 ellipsis">{{ htitle|capitalize }}</div>
			<div class="col-md-4">
				{% if app.user.haveRight(user) %}
				<a href="{{ path('siteUser_edit', {username: user.username}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> Modifier</a>
				<a href="{{ path('siteUser_delete', {username: user.username}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation m-r-xs" title="Supprimer {{ user.username }}" data-message="Souhaitez-vous vraiment supprimer ce compte ?"><i class="fa fa-times icon-wait-on-click"></i> Supprimer</a>
				{% endif %}
			</div>
		</h2>
		<ol class="breadcrumb">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>Administration</strong></a></li>
			<li><a href="{{ path('siteUser_users', {type: 'all'}) }}"><strong>Utilisateurs</strong></a></li>
			<li>{{ user.username }}{% if user.id == app.user.id %} <em class="text-muted">(moi-même)</em>{% endif %}</li>
		</ol>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
{%  if app.user.haveRight(user) %}
<div class="row m-b-lg m-t-xs">
	<div class="col-md-6">

		<div class="profile-image">
			{% if not user.enabled %}
			<i class="fa fa-ban fa-5x m-b-md text-muted fa-border" alt="profile"></i>
			{% elseif user.avatar|default(null) != null %}
			<img src="{{ user.avatar.imgThumbnail(128,128,'cut')|raw }}" class="img-circle circle-border m-b-md" alt="profile">
			{% else %}
			<i class="fa fa-user fa-5x m-b-md text-{{ userColor(user) }} fa-border" alt="profile"></i>
			{% endif %}
		</div>
		<div class="profile-info">
			<div class="">
				<div>
					<h2 class="no-margins ellipsis{% if not user.enabled %} text-muted{% endif %}">
						{{ user.nom|default(user.username) }} {{ user.prenom|default('') }}{% if not user.enabled %}<br>
						<small><strong><i class="fa fa-exclamation-triangle m-r-xs"></i>Désactivé</strong></small>{% endif %}
					</h2>
					{% if user.enabled %}
					<h4>
						{% for role in user.roles %}
						<div class="label label-{{ roleColors[role] }}">{{ roleNames[role] }}</div> 
						{% endfor %}
						<div class='clearfix m-t-xs'>{% if user.isCollaborator %}<strong>Collaborator</strong>{% endif %}{% if 'ROLE_TESTER' in user.grantedRoles %}<i>Testeur</i>{% endif %}</div>
					</h4>
					{% endif %}
					<!-- <small> -->
						<!-- There are many variations of passages of Lorem Ipsum available, but the majority -->
						<!-- have suffered alteration in some form Ipsum available. -->
					<!-- </small> -->
				</div>
			</div>
		</div>
	</div>
	<br class="visible-xs">
	<div class="col-md-6">
		<table class="table small m-b-xs">
			<tbody>
				<tr>
					<td{% if user.lastLogin is not null %} title="{{ user.lastLogin|date(formatDateHeure) }}"{% endif %}>
						<strong>Login</strong> 
						{% if user.lastLogin is not null %}
						{{ dateFR(user.lastLogin, true)|raw }} {{ user.lastLogin|date('H:i:s')|raw }}
						{% else %}
						<i class="text-muted">(jamais)</i>
						{% endif %}
					</td>
					{% if marketplace.active|default(false) %}
					<td>
						<strong>Panier</strong> {% if user.articlesPanier|default(0) > 0 %}{{ user.articlesPanier }}{% else %}(vide){% endif %}
					</td>
					<td>
						{% set achatsNbCumul = 0 %}
						{% set panierCumulTTC = 0 %}
						{% for facture in user.factures if facture.state in [0,2,3] %}
							{% set panierCumulTTC = panierCumulTTC + facture.prixtotal %}
							{% set achatsNbCumul = achatsNbCumul + 1 %}
						{% endfor %}
						<strong>Factures</strong> {{ achatsNbCumul }}
					</td>
					{% endif %}
				</tr>
				<tr>
					<td>
						{% if user.isCollaborator %}
						<strong>Messages non lus</strong> {{ user.messageusers|length }}
						{% else %}
						<strong>Messages </strong> <i class="text-muted">non abonné</i>
						{% endif %}
					</td>
					{% if marketplace.active|default(false) %}
					<td>
						<strong>Total</strong> {{ panier.prixtotal|number_format(2, ',', '') }} {{ panier.devise.symb }}<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup>
					</td>
					<td>
						<strong>Total</strong> {{ panierCumulTTC|number_format(2, ',', '') }}&nbsp;{{ marketplace.devises[app.request.locale].symb }}<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>

	<div class="clearfix"></div>

	<div class="col-md-6{% if marketplace.active|default(false) %} col-lg-4{% endif %}">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="btn-group m-r-xs" role="group">
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fa fa-gear'></i></button>
						<ul class="dropdown-menu">
							{% if "ROLE_USER" in user.roles %}{% set iconRole = 'fa-circle' %}{% else %}{% set iconRole = 'fa-circle-o' %}{% endif %}
							<li><a href="{{ path('user_change_role', {username: user.username, role: 'ROLE_USER'}) }}"><i class="fa {{ iconRole|raw }} text-info m-r-xs"></i>{{- 'roles.ROLE_USER'|trans({}, 'siteUserBundle')|capitalize -}}</a></li>
							{% if "ROLE_TESTER" in user.roles %}{% set iconRole = 'fa-circle' %}{% else %}{% set iconRole = 'fa-circle-o' %}{% endif %}
							<li><a href="{{ path('user_change_role', {username: user.username, role: 'ROLE_TESTER'}) }}"><i class="fa {{ iconRole|raw }} text-warning m-r-xs"></i>{{- 'roles.ROLE_TESTER'|trans({}, 'siteUserBundle')|capitalize -}}</a></li>
							{% if "ROLE_ADMIN" in user.roles %}{% set iconRole = 'fa-circle' %}{% else %}{% set iconRole = 'fa-circle-o' %}{% endif %}
							<li><a href="{{ path('user_change_role', {username: user.username, role: 'ROLE_ADMIN'}) }}"><i class="fa {{ iconRole|raw }} text-warning m-r-xs"></i>{{- 'roles.ROLE_ADMIN'|trans({}, 'siteUserBundle')|capitalize -}}</a></li>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							{% if "ROLE_TRANSLATOR" in user.roles %}{% set iconRole = 'fa-circle' %}{% else %}{% set iconRole = 'fa-circle-o' %}{% endif %}
							<li><a href="{{ path('user_change_role', {username: user.username, role: 'ROLE_TRANSLATOR'}) }}"><i class="fa {{ iconRole|raw }} text-link m-r-xs"></i>{{- 'roles.ROLE_TRANSLATOR'|trans({}, 'siteUserBundle')|capitalize -}}</a></li>
							{% if "ROLE_SUPER_ADMIN" in user.roles %}{% set iconRole = 'fa-circle' %}{% else %}{% set iconRole = 'fa-circle-o' %}{% endif %}
							<li><a href="{{ path('user_change_role', {username: user.username, role: 'ROLE_SUPER_ADMIN'}) }}"><i class="fa {{ iconRole|raw }} text-danger m-r-xs"></i>{{- 'roles.ROLE_SUPER_ADMIN'|trans({}, 'siteUserBundle')|capitalize -}}</a></li>
							{% endif %}
							{% if user.username != app.user.username %}
								<li class="divider"></li>
								{% if user.enabled %}
								<li><a href="{{ path('user_enable', {username: user.username, enable: 'disable'}) }}">{{- 'actions.disable'|trans()|capitalize -}}</a></li>
								{% else %}
								<li><a href="{{ path('user_enable', {username: user.username, enable: 'enable'}) }}">{{- 'actions.enable'|trans()|capitalize -}}</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
					{% endif %}
					<span>Informations <small>{{ user.username }}</small></span>
				</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Libellé</th>
							<th>valeurs</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Relation</strong></td>
							<td>
								{% if user.userunion is not null %}
								<p class="no-margins">
									{%- if user.isGlobalunionValid() -%}
									<i class="fa fa-heart text-success m-r-xs"></i>
									{%- else -%}
									<a href="{{ path('user_check_union', {username: user.userunion.username, userunion: user.username}) }}" title="Union invalide entre {{ user.userunion.username }} et {{ user.username }} : cliquer pour vérifier et rétablir"><i class="fa fa-heart text-danger m-r-xs"></i></a>
									{%- endif -%}
									{{- user.uniontypename|trans({}, 'siteUserBundle') -}}
									{%- if not user.unionconfirmed -%}
										<a href="{{ path('user_confirm_union', {username: user.username}) }}" title="Union non confirmée par {{ user.username }} : cliquer pour confirmer"><i class="fa fa-unlink text-danger m-l-xs"></i></a>
									{%- endif -%}
									&nbsp;avec {{ user.userunion.username }}
									{%- if not user.userunion.unionconfirmed -%}
										<a href="{{ path('user_confirm_union', {username: user.userunion.username}) }}" title="Union non confirmée par {{ user.userunion.username }} : cliquer pour confirmer"><i class="fa fa-unlink text-danger m-l-xs m-r-xs"></i></a>
									{%- endif -%}
								</p>
								{% elseif user.uniontype != user.removeUniontype %}
								<p class="no-margins"><i class="fa fa-heart text-muted m-r-xs"></i>{{ user.uniontypename|trans({}, 'siteUserBundle') }}</p>
								{% else %}
								<p class="no-margins"><i class="fa fa-heart-o text-muted m-r-xs"></i><i>{{ user.uniontypename|trans({}, 'siteUserBundle') }}</i></p>
								{% endif %}
							</td>
						</tr>
						{% if user.adresse|default(null) != null %}
						<tr>
							<td><strong>Adresse</strong></td>
							<td>{{ user.adresse.adresse|default('-') }}<br>{{ user.adresse.cp|default('-') }} {{ user.adresse.ville|default('-') }}</td>
						</tr>
						{% endif %}
						{% if user.adresseLivraison|default(null) != null %}
						<tr>
							<td><strong>Adresse de livraison</strong></td>
							<td>{{ user.adresseLivraison.adresse|default('-') }}<br>{{ user.adresseLivraison.cp|default('-') }} {{ user.adresseLivraison.ville|default('-') }}</td>
						</tr>
						{% endif %}
						<tr>
							<td><strong>Email</strong></td>
							<td title="{{ user.email }}"><a href="mailto:{{ user.email }}">{{ phraseCut(user.email, 18) }}</a></td>
						</tr>
						<tr>
							<td><strong>Téléphone</strong></td>
							<td>{{ user.telephone }}</td>
						</tr>
						<tr>
							<td><strong>Connexion</strong></td>
							{% if user.lastLogin is not null %}
							<td>{{ user.lastLogin|date(formatDateHeure) }}</td>
							{% else %}
							<td><i>Jamais</i></td>
							{% endif %}
						</tr>
						<tr>
							<td><strong>Mot de passe</strong></td>
							{% if user.passwordRequestedAt is not null %}
							<td>{{ user.passwordRequestedAt|date(formatDateHeure) }}</td>
							{% else %}
							<td>-</td>
							{% endif %}
						</tr>
						<tr>
							<td><strong>Collaborateur<br>Sites</strong></td>
							<td>
								{% for site in user.sites %}
								<p>{{ phraseCut(site.nom, 22) }}</p>
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	{% if marketplace.active|default(false) %}
	<div class="col-md-6 col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Panier <small>{{ user.username }}</small> <div class="label label-info">{{ user.articlesPanier|default(0) }}</div></h2>
				<p class="adminhelp"><small>Contenu actuel du panier de <strong>{{ user.username }}</strong>.</small></p>
				<hr>
				{% if user.paniers|length > 0 %}
				<p><strong>{{ user.articlesPanier|default(0) }}</strong> article{{ plur(user.articlesPanier|default(0)) }} différent{{ plur(user.articlesPanier|default(0)) }}</p>
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<!-- <td><strong>Contenu</strong></td> -->
							<td>
								<table class="table small m-b-xs">
									<tbody>
										<tr>
											<td class="text-left"><strong>Article</strong></td>
											<td class="text-center"><strong>Q.</strong></td>
											{# <td class="text-right"><strong>Prix<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup></strong></td> #}
											<td class="text-right"><strong>Total<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup></strong></td>
										</tr>
										{% set totalpanierHT = 0 %}
										{% for onepanier in panier.panier %}
										<tr>
											<td class="text-left"><a href="{{ path('siteadmin_entite', {entite: 'article', id: onepanier.article.id, action: 'show'}) }}" title="{{ dateFR(onepanier.updated|default(onepanier.created)) }} {{ onepanier.updated|default(onepanier.created)|date('H:i:s') }}">{{ onepanier.article.nom }}</a>{% if not onepanier.article.groupbasket %}<br>{{ onepanier.volume }}{{ onepanier.unit }}{% endif %}</td>
											<td class="text-center">
												{% if onepanier.article.groupbasket -%}
													{{ onepanier.quantite * onepanier.volume }}{{ onepanier.unit }}
													{%- if onepanier.quantite > 1 -%}<br><small class="text-muted"><i>({{ onepanier.quantite }} x {{ onepanier.volume }}{{ onepanier.unit }})</i></small>{%- endif -%}
												{% else -%}
													x {{ onepanier.quantite }}
												{%- endif %}
											</td>
											{# <td class="text-right">{{ onepanier.prix_total|number_format(2, ',', '') }}&nbsp;{{ panier.devise.symb }}</td> #}
											<td class="text-right" title="{{ onepanier.prixTotalHt|number_format(2, ',', '') }}{{ panier.devise.symb }}HT">{{ onepanier.prixTotal|number_format(2, ',', '') }}{{ panier.devise.symb }}</td>
										</tr>
										{% endfor %}
										<tr style="border-top: 2px solid #bbb;">
											<td class="text-left" colspan="2"><strong>Total {{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</strong></td>
											<td class="text-right"><strong>{{ panier.prixtotal|number_format(2, ',', '') }}{{ panier.devise.symb }}</strong></td>
										</tr>
										<tr>
											<td class="text-left" colspan="2"><em>Total HT</em></td>
											<td class="text-right"><em>{{ panier.prixtotalHT|number_format(2, ',', '') }}{{ panier.devise.symb }}</em></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				{% else %}
				<p>Panier vide</p>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="clearfix hidden-lg"></div>
	{% endif %}

	{% if marketplace.active|default(false) %}
	{% set facturesByStates = user.facturesByStates([0,2]) %}
	{% set maxfactures = 8 %}
	<div class="col-md-6 col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Factures / Achats <small>{{ user.username }}</small> <div class="label label-info">{{ facturesByStates|length }}</div></h2>
				<p class="adminhelp"><small>Liste des factures d'achats de <strong>{{ user.username }}</strong>.</small></p>
				<hr>
				{% if facturesByStates|length > 0 %}
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						{% for facture in facturesByStates %}
						{% if loop.index < maxfactures %}
						<tr>
							<td colspan="2">
								{{ facture.boutique.nom }}
								{# <a href="{{ path('labo_vente_show', {id: facture.id}) }}"><strong>{{ facture.id }}</strong></a> #}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<table class="table small m-b-xs">
									<thead>
										<tr>
											<th class="text-center" title="Nombre d'articles"><strong>Nb.</strong></th>
											<th><strong>Total<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup></strong></th>
											<th class="text-right" title="{{ facture.boutique.nom }}"><strong>{{ facture.id }}</strong></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">{{ facture.panier|length }}</td>
											<td class="text-right">{{ facture.prixtotal|default(0)|number_format(2, ',', '') }}&nbsp;{{ facture.devise.symb }}</td>
											<td>
												<p class="text-right text-{{ facture.statecolor }}">{{ facture.statename|trans({}, 'facture') }}</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						{% elseif loop.index == maxfactures %}
						<tr>
							<td colspan="2">
								<p class="text-right">…</p>
							</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>Aucun achat</p>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}

	<div class="col-md-6{% if marketplace.active|default(false) %} col-lg-4{% endif %}">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Évènements <small>{{ user.username }}</small> <div class="label label-info">{{ user.userevenements|default([])|length }}</div></h2>
				<p class="adminhelp"><small>Évènements de <strong>{{ user.username }}</strong>.</small></p>
				<hr>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Évènement<br><small><i>Parrain</i></small></th>
							<th class="text-center">Réservation<br><small><i>position</i></small></th>
							<th class="text-center">Statut</th>
							<th class="text-center">Invités</th>
						</tr>
					</thead>
					<tbody>
						{% for userevenement in user.userevenements|default([]) %}
						<tr>
							<td>
								{{- userevenement.evenement.nom }}
								{%- if userevenement.parrain != null -%}
								<br>
								<small><a href="{{ path('siteUser_info', {username: userevenement.parrain.username}) }}" title="Voir le profil du parrain : {{ userevenement.parrain.username }}"><i class="fa fa-user fa-fw"></i></a> {{ userevenement.parrain.username }}</small>
								{%- elseif userevenement.parrainmailorname|default(null) != null -%}
								<br>
								<small><i>{{ userevenement.parrainmailorname }}</i></small>
								{%- endif -%}
							</td>
							<td class="text-center"><strong>{{ userevenement.statename }}</strong><br><i>{{ userevenement.position }}</i></td>
							<td class="text-center">
								{%- if userevenement.evenement.terminated -%}
									Terminé
								{%- elseif not userevenement.evenement.past -%}
									À venir
								{%- else -%}
									En cours
								{%- endif -%}
							</td>
							<td class="text-center">{{ userevenement.inviteduserevenements|length }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				{# {{ dump(user.userevenements[0]) }} #}
			</div>
		</div>
	</div>


	<hr>

	<div class="col-md-12 col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Messages <small>{{ user.username }}</small> <div class="label label-info">{{ user.messages(true)|length }}</div></h2>
				<p class="adminhelp"><small>Liste des messages de <strong>{{ user.username }}</strong> | <a href="{{ path('siteadmin_entite', {entite: 'message'}) }}">Consulter messagerie</a></small></p>
				<hr>
				{% if user.messages(true)|length > 0 %}
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						{% for message in user.messages(true)|default({}) %}
						{% if loop.index < 5 %}
						<tr>
							<td>{{ message.position }} | <strong>{{ message.objet|default('<i class="fa fa-ban text-muted"></i>')|raw }}</strong></td>
						</tr>
						<tr>
							<td>
								<blockquote>
									<p>{{ message.message|nl2br|raw }}</p>
									<small>
										<strong><a href="mailto:{{ user.email }}">Répondre</a></strong> - <cite>{{ message.creation|date(formatDateHeure) }}</cite>
									</small>
								</blockquote>
							</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>Aucun Message</p>
				{% endif %}
			</div>
		</div>
	</div>


</div>

{% else %}

<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3><i class="fa fa-ban"></i> Vous n'avez les droits requis pour accéder au profil de cet utilisateur.</h3>
			</div>
		</div>
	</div>
</div>
{% endif %}

{# {{ dump(user) }} #}
{# {{ dump(panier) }}
{% for facture in user.factures %}
{{ dump(facture.panier) }}
{% endfor %} #}

{% endblock content %}