{% macro menu(menu, bundle, name) %}
{% set idnest = bundle ~ name %}
{% import _self as self %}
<div class="dd" id="{{ idnest }}">
	{{ self.menuL1(menu.menu.menu) }}
</div>
{% if (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
<div class="m-t-md"><h5>Output data (DEV)</h5></div>
<textarea id="{{ idnest }}-output" class="form-control"></textarea>
{% endif %}
{% endmacro %}

{% macro menuL1(menu) %}
{% import _self as self %}
<ol class="dd-list">
	{% for id,item in menu %}
	<li class="dd-item" data-id="{{ id }}">
		<div class="dd-handle">
			<span class="pull-right"><small>{{ item.role|default('public') }}</small></span>
			{% if item.icon is defined %}<span class="label label-primary"><i class="fa {{ item.icon }}"></i></span>{% else %}<span class="label label-default"><i class="fa fa-ban"></i></span>{% endif %} {{ (item.name|default('<i>Sans texte</i>'))|trans({}, item.trans_domain|default(null))|raw }}
		</div>
		{% if item.items|default([])|length > 0 %}
			{{ self.menuL1(item.items) }}
		{% endif %}
	</li>
	{% endfor %}
</ol>
{% endmacro %}



{% macro options(bundle, name) %}
{% set idnest = bundle ~ name %}
<span id="nest-menu-{{ idnest }}">
	<button type="button" data-action="expandAll" class="btn btn-white btn-xs"><i class="fa fa-plus"></i></button>
	<button type="button" data-action="collapseAll" class="btn btn-white btn-xs"><i class="fa fa-minus"></i></button>
</span>
{% endmacro %}

{% macro js(bundle, name) %}
{% set idnest = bundle ~ name %}
	// output data
	$('#{{ idnest }}').nestable({
		group: 1
	}).on('change', function() {
		var fordata = $(this).nestable('serialize');
		var outputdata = window.JSON.stringify(fordata);
		if($('#{{ idnest }}-output').length) {
			$('#{{ idnest }}-output').val(outputdata);
		}
		// envoi ajax
		var url = "{{ path('siteadmin_ajax_modify', {bundle: bundle, name: name}) }}";
		$.ajax({
			url: url,
			method: "POST",
			data: {tree: fordata},
		}).done(function(data) {
			// alert(data);
		}).fail(function() {
			{% if (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
			alert('Error…');
			{% endif %}
		});
	});

	$('body').on('click', '#nest-menu-{{ idnest }} button', function (e) {
		$('#{{ idnest }}').nestable($(this).attr('data-action'));
	});
{% endmacro %}