{% trans_default_domain 'siteUserBundle' %}

	<section id="section-gray">
	
		<div id="contact-page" class="container-fluid"><!--container-->
			<div class="row">
				{% if user.avatar|default(null) != null %}
				<div class="col-sm-2 col-sm-offset-2 text-center m-t-lg">
					<h4 class="title">{{ 'fields.avatar'|trans|capitalize }}</h4>
					<img src="{{ user.avatar.imgThumbnail(256,256,'cut')|raw }}" class="img-responsive img-thumbnail">
				</div>
				{% else %}
				{% set partTwo = ' col-sm-offset-3' %}
				{% endif %}
				<div class="col-sm-6{{ partTwo|default('')|raw }} m-t-lg">
					<h4 class="title">{{ 'info.compte'|trans|capitalize }}</h4>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'profile.show.username'|trans }}</div>
						<div class="col-sm-4 text-muted teleft visible-xs">{{ 'profile.show.username'|trans }}</div>
						<div class="col-sm-8"><strong>{{ user.username }}</strong>{% if is_granted('ROLE_TESTER') %} <i><small class="label label-{{ roleColor('ROLE_TESTER') }}">Testeur</small></i>{% endif %}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'profile.show.email'|trans }}</div>
						<div class="col-sm-4 text-muted teleft visible-xs">{{ 'profile.show.email'|trans }}</div>
						<div class="col-sm-8"><strong>{{ user.email }}</strong></div>
					</div>
					<hr class="dotted">
					<h5 class="title">{{ 'info.autres'|trans|capitalize }}</h5>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'fields.nom'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'fields.nom'|trans|capitalize }}</div>
						<div class="col-sm-8"><strong>{{ user.nom }}</strong></div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'fields.prenom'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'fields.prenom'|trans|capitalize }}</div>
						<div class="col-sm-8"><strong>{{ user.prenom }}</strong></div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'telephone'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'telephone'|trans|capitalize }}</div>
						<div class="col-sm-8"><strong>{{ user.telephone }}</strong></div>
					</div>
					{% if user.adresse|default(null) != null %}
					<h5 class="title">{{ 'Adresse'|trans|capitalize }}</h5>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'adresse'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'adresse'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresse.adresse }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'code postal'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'c.post.'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresse.cp }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'ville'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'ville'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresse.ville }}</div>
					</div>
					{% endif %}
					{% if user.adresseLivraison|default(null) != null %}
					<h5 class="title">{{ 'Adresse de livraison'|trans|capitalize }}</h5>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'adresse'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'adresse'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresseLivraison.adresse }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'code postal'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'c.post.'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresseLivraison.cp }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-muted text-right hidden-xs">{{ 'ville'|trans|capitalize }}</div>
						<div class="col-sm-4 text-muted text-left visible-xs">{{ 'ville'|trans|capitalize }}</div>
						<div class="col-sm-8">{{ user.adresseLivraison.ville }}</div>
					</div>
					<hr class="dotted">
					{% endif %}
					<div class="row">
						<div class="col-sm-6">
							<a href="{{ path('fos_user_profile_edit') }}" type="button" class="btn btn-sm btn-primary btn-block">{{ 'profile.action.modify'|trans|capitalize }}</a>
						</div>
						<div class="col-sm-6">
							<a href="{{ path('fos_user_change_password') }}" type="button" class="btn btn-sm btn-primary btn-block">{{ 'change_password.submit'|trans|capitalize }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
