{% trans_default_domain 'siteUserBundle' %}

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<p class="formRight col-md-4 bold">{{ 'profile.show.username'|trans }}</p>
			<p class="formLeft col-md-8">{{ user.username }}</p>
		</div>
		<div class="row">
			<p class="formRight col-md-4 bold">{{ 'profile.show.email'|trans }}</p>
			<p class="formLeft col-md-8">{{ user.email }}</p>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">{{ 'info.autres'|trans|capitalize }}</div>
	<div class="panel-body">
		<div class="row">
			<p class="formRight col-md-4 bold">{{ 'fields.nom'|trans|capitalize }}</p>
			<p class="formLeft col-md-8">{{ user.nom }}</p>
		</div>
		<div class="row">
			<p class="formRight col-md-4 bold">{{ 'fields.prenom'|trans|capitalize }}</p>
			<p class="formLeft col-md-8">{{ user.prenom }}</p>
		</div>
	</div>
</div>
<br>
<a href="{{ path('fos_user_profile_edit') }}" type="button" class="btn btn-xs btn-color-b btn-block">
	{{ 'profile.action.modify'|trans|capitalize }}
</a>
<a href="{{ path('fos_user_change_password') }}" type="button" class="btn btn-xs btn-black btn-block">
	{{ 'change_password.submit'|trans|capitalize }}
</a>
