{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center" style="width:1%;">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							{# <th class="text-center" style="width:1%;">{{ UCfirst('fields.image'|trans({}, entite_name)) }}</th> #}
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th>{{ UCfirst('fields.modele'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.action'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.subentitys'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.parents'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						<tr>
							{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
							{% if DEVMODE %}<td class="text-center"{{ bgcolor|raw }}>{{ entite.id }}</td>{% endif %}
{# 							<td class="text-center"{{ bgcolor|raw }}>
								{% if entite.mainMedia|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: entite.mainMedia.shortName, id: entite.mainMedia.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ UCfirst('moredetails'|trans({'%name%': entite.mainMedia.nom}, entite.shortName)) }}">
									<img src="{{ entite.mainMedia.imgThumbnail(64, 64, 'cut') }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td> #}
							<td{{ bgcolor|raw }}>
								<p class="m-b-none">
									{{ actions.htmlicon(entite, 1, ['m-r-xs']) -}}
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.shortName)) }}"><strong>{{ entite.nom }}</strong></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom})) }}"><strong>{{ entite.nom }}</strong></a>
									{% endif %}
								</p>
								{% if entite.marque != null %}<p class="m-b-none"><small>{{ UCfirst('name'|trans({}, 'marque')) }} <strong>{{ entite.marque.nom|json_encode }}</strong></small></p>{% endif %}
								{% if entite.statut is defined %}
								{% if entite.statut.id > 1 %}<p class="m-b-none"><small><i>({{ entite.statut.nom }})</i></small></p>{% endif %}
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete','active'], type) }}
							</td>
							<td{{ bgcolor|raw }}>
								{{ entite.modelename }}
							</td>
							<td{{ bgcolor|raw }}>
								{{ entite.action|default('---') }}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.labelLinkList(entite.subentitys) }}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.labelLinkList(entite.parentsByGroup('pageweb_sections')) }}
								{# {{ actions.labelLinkList(entite.group_pagewebSections_parents) }} #}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}