{% use "sitegraphicsBundle:Form:form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple -%}
	{% if type is not defined or 'file' != type %}
		{%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) -%}
	{% endif %}
	{{- parent() -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
	{{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
	{{- parent() -}}
{%- endblock %}

{% block money_widget -%}
	<div class="input-group mask">
		{% set prepend = '{{' == money_pattern[0:2] %}
		{% set attr = attr|merge({'class': "mask-money"}) %}
		{% if not prepend %}
			<span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
		{% endif %}
		{{- block('form_widget_simple') -}}
		{% if prepend %}
			<span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
		{% endif %}
	</div>
{%- endblock money_widget %}

{% block percent_widget -%}
	<div class="input-group">
		{{- block('form_widget_simple') -}}
		<span class="input-group-addon">%</span>
	</div>
{%- endblock percent_widget %}

{% block datetime_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		<div {{ block('widget_container_attributes') }}>
			{{- form_errors(form.date) -}}
			{{- form_errors(form.time) -}}
			{{- form_widget(form.date, { datetime: true } ) -}}
			{{- form_widget(form.time, { datetime: true } ) -}}
		</div>
	{%- endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		{% if datetime is not defined or not datetime -%}
			<div {{ block('widget_container_attributes') -}}>
		{%- endif %}
			{{- date_pattern|replace({
				'{{ year }}': form_widget(form.year),
				'{{ month }}': form_widget(form.month),
				'{{ day }}': form_widget(form.day),
			})|raw -}}
		{% if datetime is not defined or not datetime -%}
			</div>
		{%- endif -%}
	{% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		{% if datetime is not defined or false == datetime -%}
			<div {{ block('widget_container_attributes') -}}>
		{%- endif -%}
		{{- form_widget(form.hour) }}:{{ form_widget(form.minute) }}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
		{% if datetime is not defined or false == datetime -%}
			</div>
		{%- endif -%}
	{% endif %}
{%- endblock time_widget %}

{% block choice_widget_collapsed -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
	{{- parent() -}}
{%- endblock %}

{% block choice_widget_expanded -%}
	{% if '-inline' in label_attr.class|default('') -%}
		<div class="control-group">
			{%- for child in form %}
				{{- form_widget(child, {
					parent_label_class: label_attr.class|default(''),
				}) -}}
			{% endfor -%}
		</div>
	{%- else -%}
		<div {{ block('widget_container_attributes') }}>
			{%- for child in form %}
				{{- form_widget(child, {
					parent_label_class: label_attr.class|default(''),
				}) -}}
			{% endfor -%}
		</div>
	{%- endif %}
{%- endblock choice_widget_expanded %}

{% block checkbox_widget -%}
	{% set parent_label_class = parent_label_class|default('') -%}
	{% set attr = attr|merge({class: 'js-switch'}) %}
	{% if 'checkbox-inline' in parent_label_class %}
		{{- form_label(form, null, { widget: parent() }) -}}
	{% else -%}
		<div>
			{{- form_label(form, null, { widget: parent() }) -}}
		</div>
	{%- endif %}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
	{%- set parent_label_class = parent_label_class|default('') -%}
	{% if 'radio-inline' in parent_label_class %}
		{{- form_label(form, null, { widget: parent() }) -}}
	{% else -%}
		<div class="radio">
			{{- form_label(form, null, { widget: parent() }) -}}
		</div>
	{%- endif %}
{%- endblock radio_widget %}

{# Labels #}

{% block form_label -%}
	{%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
	{{- parent() -}}
{%- endblock form_label %}

{% block choice_label -%}
	{# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
	{%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
	{{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
	{{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
	{{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label %}
	{# Do no display the label if widget is not defined in order to prevent double label rendering #}
	{% if widget is defined %}
		{% if required %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
		{% endif %}
		{% if parent_label_class is defined %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
		{% endif %}
		{% if label is not sameas(false) and label is empty %}
			{% set label = name|humanize %}
		{% endif %}
		<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
			{{- widget|raw -}}
			{{- label is not sameas(false) ? label|trans({}, translation_domain) -}}
		</label>
	{% endif %}
{% endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
	<div class="form-group m-b-xs{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
		{{- form_label(form) -}}
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock form_row %}

{% block button_row -%}
	<div class="form-group m-b-xs">
		{{- form_widget(form) -}}
	</div>
{%- endblock button_row %}

{% block choice_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock choice_row %}

{% block date_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock date_row %}

{% block time_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
	<div class="form-group m-b-xs{% if not valid %} has-error{% endif %}">
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock checkbox_row %}

{% block radio_row -%}
	<div class="form-group m-b-xs{% if not valid %} has-error{% endif %}">
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock radio_row %}

{# Errors #}

{% block form_errors -%}
	{% if errors|length > 0 -%}
	{% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger" role="alert">{% endif %}
	{%- for error in errors -%}
		<p class="text-danger"><i class="fa fa-exclamation-triangle m-r-xs"></i> <strong>{{ error.message }}</strong></p>
	{%- endfor -%}
	{% if form.parent %}</span>{% else %}</div>{% endif %}
	{%- endif %}
{%- endblock form_errors %}

{# customs AEW #}

{% block insDatepicker_widget %}
	<div class="input-group date">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		{{- block('form_widget_simple') -}}
	</div>
{% endblock %}

{% block insColorpicker_widget %}
	<div class="input-group colorpickers" {{ block('widget_container_attributes') }}>
		<div class="input-group-addon"><i></i></div>
		<input type="text" value="{{ value|raw }}" {{ block('widget_attributes') }} class="form-control" />
	</div>
{% endblock insColorpicker_widget %}

{% block insRichtext_widget %}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' richtexts')|trim}) -%}
	{{- block('textarea_widget') -}}
{% endblock insRichtext_widget %}

{% block insTelephone_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-phone"></i></span>
		{% set attr = attr|merge({'class': "mask-tel"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insTelephone_widget %}

{% block email_widget %}
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-at"></i></span>
		{{- parent() -}}
	</div>
{% endblock email_widget %}

{% block url_widget %}
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-globe"></i></span>
		{{- parent() -}}
	</div>
{% endblock url_widget %}

{% block insCpostal_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-th"></i></span>
		{% set attr = attr|merge({'class': "mask-cp"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insCpostal_widget %}

{% block insDept_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-th"></i></span>
		{% set attr = attr|merge({'class': "mask-dept"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insDept_widget %}

{% block insSiret_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-slack"></i></span>
		{% set attr = attr|merge({'class': "mask-siret"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insSiret_widget %}

{% block insSiren_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-slack"></i></span>
		{% set attr = attr|merge({'class': "mask-siren"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insSiren_widget %}

{% block insRadio_widget %}
	{% set label_attr = label_attr|merge({'class': "radio-inline iradio"}) %}
	{{- block('choice_widget') -}}
{% endblock insRadio_widget %}

{% block insCheck_widget %}
	{% set label_attr = label_attr|merge({'class': "checkbox-circle"}) %}
	{{- block('checkbox_widget') -}}
{% endblock insCheck_widget %}

{% block filecropper_widget %}
	<div class="row cropper-block" id="{{ id }}_cropper" data-id="{{ id }}" data-form-name="{{ name }}">
		<!-- cropper info -->
		<span class='cropper-info' data-cropper="{{ cropper|json_encode(true) }}"></span>
		<span class='cropper-send-rawfile' data-send="{{ path('siteMedia_saveRawFile', {entityShortName: 'image'}) }}"></span>
		<!-- Visuels -->
		<div class="col-sm-12 m-t-xs m-b-sm containerImageNull hidden">
			<div class="row">
				<div class="col-sm-8">
					<div class="image-crop">
						<h5 class="m-t-none text-muted m-t-xs"><i class="fa fa-file-picture-o m-r-xs"></i>{{ 'table.col.original'|trans|capitalize }}</h5>
						<img id="{{ id }}_image" class='img-responsive' src="{{ plain_image|default('#') }}" alt="Image">
					</div>
				</div>
				<div class="col-sm-4">
					<h5 class="m-t-none text-muted m-t-xs"><i class="fa fa-eye m-r-xs"></i>{{ 'table.col.apercu'|trans|capitalize }}</h5>
					<div class="row">
						<div class="col-sm-12">
							<div class="img-preview"></div>
							<!-- FORMATS -->
							{% if cropper.format|length > 1 %}
							<hr>
							<h5 class="m-t-none text-muted m-t-xs"><i class="fa fa-crop m-r-xs"></i>Formats</h5>
							<div class="btn-group btn-group-justified docs-toggles" data-toggle="buttons">
								{% for idx,format in cropper.format %}
								<label class="btn btn-primary{% if idx == cropper.ratioIndex %} active{% endif %}">
									<input type="radio" class="sr-only" id="aspectRatio{{ loop.index0 }}" name="aspectRatio" value="{% if format == null %}null{% else %}{{ format.0 / format.1 }}{% endif %}" data-ratio-index="{{ idx }}">
									<span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="{% if format == null %}Format libre{% else %}{{ format.0 }} x {{ format.1 }} pix{% endif %}">
									  {{ idx }}
									</span>
								</label>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Actions -->
		<div class="col-sm-12 m-t-xs container-actions">
			<div class="m-r-xs inline">
				<label class="btn btn-sm btn-primary loadOff" for="{{ id }}_fileInput">
					<input type="file" id="{{ id }}_fileInput" class="sr-only" name="file" accept="{{ cropper.accept|default('image/*') }}">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.uploadNewImage'|trans|capitalize }}">
						<i class="fa fa-upload m-r-xs"></i>{{ 'form.fichier'|trans|capitalize }}
					</span>
				</label>
				<label class="btn btn-sm btn-danger loadOn hidden" for="{{ id }}_fileInput_loading">
					<input type="button" id="{{ id }}_fileInput_loading" class="sr-only" name="file_loading">
					<span>
						<i class="fa fa-refresh fa-spin m-r-xs"></i>{{ 'form.fichier'|trans|capitalize }}
					</span>
				</label>
			</div>
			{% if cropper.deletable|default(false) == true %}
			<div class="btn-group m-r-xs containerImageNull">
				<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.supprimer'|trans|capitalize }}">
					<button class="btn btn-sm btn-primary noImage"><i class="fa fa-ban"></i></button>
				</span>
			</div>
			{% endif %}
			<div class="btn-group docs-buttons containerImageNull">
				<!-- RE INIT -->
				{% if cropper.init|default(null) != null %}
				<button type="button" class="btn btn-sm btn-primary" data-method="setData" data-option="{{ cropper.init|json_encode(true) }}">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.zoomIn'|trans|capitalize }}">
						<i class="fa fa-crop"></i>
					</span>
				</button>
				{% endif %}
				<!-- ZOOM -->
				{% if cropper.options.zoomable|default(false) == true %}
				<button type="button" class="btn btn-sm btn-white" data-method="zoom" data-option="0.1">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.zoomIn'|trans|capitalize }}">
						<i class="fa fa-search-plus"></i>
					</span>
				</button>
				<button type="button" class="btn btn-sm btn-white" data-method="zoom" data-option="-0.1">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.zoomOut'|trans|capitalize }}">
						<i class="fa fa-search-minus"></i>
					</span>
				</button>
				{% endif %}
				<!-- FLIP -->
				{% if cropper.options.flipable|default(false) == true %}
				<button type="button" class="btn btn-sm btn-white" data-method="scaleX" data-option="-1">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.flipH'|trans|capitalize }}">
						<i class="fa fa-arrows-h"></i>
					</span>
				</button>
				<button type="button" class="btn btn-sm btn-white" data-method="scaleY" data-option="-1">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.flipV'|trans|capitalize }}">
						<i class="fa fa-arrows-v"></i>
					</span>
				</button>
				{% endif %}
				<!-- ROTATE -->
				{% if cropper.options.rotatable|default(false) == true %}
				<button type="button" class="btn btn-sm btn-white" data-method="rotate" data-option="-90">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.rotationG'|trans|capitalize }}">
						<i class="fa fa-rotate-left"></i>
					</span>
				</button>
				<button type="button" class="btn btn-sm btn-white" data-method="rotate" data-option="90">
					<span class="docs-tooltip" data-toggle="tooltip" title="{{ 'form.rotationD'|trans|capitalize }}">
						<i class="fa fa-rotate-right"></i>
					</span>
				</button>
				{% endif %}
			</div>
		</div>
	</div>
	{% set attr = attr|merge({'class': "hidden"}) %}
	<textarea {{ block('widget_attributes') }}>{% if form.parent.parent == null %}{{ value|raw }}{% endif %}</textarea>
	{# <hr class="m-t-xs m-b-sm"> #}
{% endblock filecropper_widget %}

{# {% block multiCollection_widget %}
	<span id="multi-form_{{ name }}" class="multi-form" data-table-prototype="{{ '<table class=\'table table-hover table-bordered table-condensed table-responsive xsmall m-b-xs\' style=\'background-color:#ffffff;\'><thead><tr></tr></thead><tbody></tbody></table>'|e }}">
		<button class="btn btn-primary btn-outline btn-sm btn-block add_multiform_link" data-target="#multi-form_{{ name }}"><i class="fa fa-plus m-r-xs"></i>Ajouter</button>
		{{- block('form_widget_list') -}}
	</span>
{% endblock multiCollection_widget %} #}

{# {%- block form_widget_list -%}
	{%- set attr = attr|merge({'class': "multi-form-ul list-unstyled" }) -%}
	{%- set attr = attr|merge({'style': "margin-top: 6px;" }) -%}
	{% if prototype is defined %}
		{%- set attr = attr|merge({'data-prototype': form_widget(prototype) }) -%}
	{% endif %}
	{%- if form.parent is empty -%}
		{{ form_errors(form) }}
	{%- endif -%}
	<ul {{ block('widget_container_attributes') }}>
	{% for key,child in form %}
		<li>
		{{- form_widget(child) -}}
		{{- form_errors(child) -}}
		</li>
	{% endfor %}
	</ul>
	{{- form_rest(form) -}}
{%- endblock form_widget_list -%} #}

{# {%- block bs_button_widget -%}
	<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>
{%- endblock bs_button_widget -%} #}
