{% extends 'siteadminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8">Partenaire {{ entite.nom }}</div>
			<div class="col-md-4">
				<a href="{{ path('labo_ins_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="Supprimer partenaire" data-message="Souhaitez-vous vraiment supprimer ce partenaire ?"><i class="fa fa-times icon-wait-on-click"></i> Supprimer</a>
				{#
				<a href="{{ path('labo_ins_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" style="margin-right: 4px;" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> Modifier</a>
				#}
				<a href="{{ path('labo_ins_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" style="margin-right: 4px;" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-eye icon-wait-on-click"></i> Voir</a>
				<a href="{{ path('labo_ins_entite', {entite: entite_name}) }}" style="margin-right: 4px;" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-bars icon-wait-on-click"></i> Liste</a>
			</div>
		</h2>
		<ol class="breadcrumb">
			<li><a href="{{ path('acme_grouplabo_inspinia_homepage') }}"><strong>Administration</strong></a></li>
			<li><a href="{{ path('labo_ins_entite', {entite: entite_name}) }}"><strong>Partenaires</strong></a></li>
			<li><a href="{{ path('labo_ins_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}"><strong>{{ entite.nom|raw }}</strong></a></li>
			<li>Modification</li>
		</ol>
	</div>
</div>
{% endblock page_heading %}

{% block content %}

	{% set prior = ["nom", "descriptif"] %}
	{% set lasts = ["statut", "submit"] %}
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {% for item in prior if edit_form[item] is defined %}
        {{ form_row(edit_form[item]) }}
    {% endfor %}

    {% for key,child in edit_form.children if ((key not in prior) and (key not in lasts)) %}
        {{ form_row(child) }}
    {% endfor %}
    
    {% for item in lasts if edit_form[item] is defined %}
        {{ form_row(edit_form[item]) }}
    {% endfor %}

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock content %}