{% trans_default_domain 'siteUserBundle' %}

<!-- Login Section -->
{% if form_errors(form) != null %}
<div class="alert alert-danger">
	{{ form_errors(form) }}
</div>
{% endif %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
	<div class="form-field-wrapper">
		{{ form_label(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first) }}
		{{ form_errors(form.plainPassword.first) }}
	</div>
	<div class="form-field-wrapper">
		{{ form_label(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second) }}
		{{ form_errors(form.plainPassword.second) }}
	</div>
    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-md btn-black form-full" />
	{{ form_rest(form) }}
</form>
